*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 4000px;
}

.parent {
    width: 300px;
    height: 300px;
    background: #000;
    margin: 0px 30px 30px 30px;
    position: relative;
    color: #fff;
    z-index: 99998;
}

.parent > .child {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #f00;
}

nav {
    padding: 40px 20px;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 99999;
}

nav > a {
    color: #fff;
    margin-right: 15px;
    font-family: arial;
    text-decoration: none;
}

main {
    padding-top: 130px;
}

@media screen and (max-width:580px) {
    nav {
        position: static;
    }

    main {
        padding-top: 30px;
    }
}

/* static, relative, absolute, fixed, sticky  */

/* եթե մենք օգտագործում ենք absolute պետք ա ծնողին տանք relative, եթե չտանք, childd-ը ծնող կտեսնի բրաուզերի էկրանին */


.wrap {
    margin: 30px
}

.some {
    font-size: 20px;
    color: #5d5d5d;
    font-family: arial;
}

.some:nth-child(1) {
    color: #f0f;
}

.some:nth-child(3) {
    color: #f00;
}

.some:last-child {
    background: #000;
    color: #fff;
}

.some:first-child {
    background: #eccd;
    color: #444;
}

.some:hover {
    background: #ff0;
}

.some:active {
    background: purple;
}


/* praktika */
.first, .second, .third {
    width: 100px;
    height: 45px;
    border: 4px solid #000;
    margin-left: 30px;
    margin-bottom: 15px;
    position: relative;
    color: #fff;
    line-height: 40px;
    font-size: 12px;
}

.first::after, .second::after, .third::after {
    content: '';
    position: absolute;
    right: -10px;
    top: 12px;
    width: 6px;
    height: 10px;
    background: #000;
}

.first::before, .second::before, .third::before  {
    margin-left: 5px;
}

.first::before {
    content: '40%';
}

.second::before {
    content: '55%';
}

.third::before {
    content: '68%';
}

.first {
    background: linear-gradient(to right, red 40%, #fff 0%)
}
.second {
    background: linear-gradient(to right, blue 55%, #fff 0%)
}
.third {
    background: linear-gradient(to right, orange 68%, #fff 0%)
}

.box {
    background: #f00;
    width: 50px;
    height: 50px;
    margin: 30px 0px;
    transition: all 1s;
    animation: myAnime 1000ms 500ms infinite alternate cubic-bezier(1,-0.62,0,-1);
}

.box:hover {
    /* transform: scale(10); */
    /* transform: translate(500px); */
    /* transform: rotateY(360deg); */
    /* transform: skew(90deg); */
}

/* animation */

@keyframes myAnime {
    from {
        transform: translatex(0px);
        background: red;
        border-radius: 0px;
        color: #000;
        opacity: 1;
    }

    to {
        transform: translatex(350px);
        background: blue;
        border-radius: 100px;
        color: #fff;
        opacity: 0;
    }
}

@keyframes myAnimeTokos {
    0% {
        transform: translatex(0px);
    }

    25% {
        transform: translatex(150px);
    }

    50% {
        transform: translatex(200px);
    }

    70% {
        transform: translatex(250px);
    }

    100% {
        transform: translatex(300px);
    }
}

.paragraph {
    animation: bounceInRight 0.8s;
}