@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  list-style-position: inside;
}

.lg-backdrop {
  z-index: 99999 !important;
}

.lg-outer {
  z-index: 99999 !important;
}

@font-face {
  font-family: noto-sans-bold;
  src: url("../fonts/NotoSansArmenian-Bold.ttf");
}

@font-face {
  font-family: noto-sans-regular;
  src: url("../fonts/NotoSansArmenian-Regular.ttf");
}

@font-face {
  font-family: noto-sans-medium;
  src: url("../fonts/NotoSansArmenian-Medium.ttf");
}

@font-face {
  font-family: noto-sans-light;
  src: url("../fonts/NotoSansArmenian-Light.ttf");
}

@font-face {
  font-family: noto-sans-thin;
  src: url("../fonts/NotoSansArmenian-Thin.ttf");
}

p {
  line-height: 25px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10px;
}

.title {
  font-size: 28px;
  color: #448AFF;
  position: relative;
  padding-left: 12px;
  margin-bottom: 24px;
  width: 100%;
}

.title::before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 6px;
  background: #448AFF;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 580px) {
  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 17px;
  }
}

@media screen and (max-width: 420px) {
  .title {
    font-size: 16px;
  }
}

.sub_title {
  color: #5d5d5d;
  padding-bottom: 10px;
  border-bottom: 2px solid #5d5d5d;
  margin: 24px 0px 12px 0px;
}

.ms_style {
  margin: 20px 0px 50px 0px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 18px;
}

.pagination a {
  text-decoration: none;
  padding: 4px 7px;
  margin-right: 5px;
  font-size: 16px;
  color: #757575;
}

.pagination a.active_pagination {
  color: #303F9F;
  border-bottom: 2px solid #303F9F;
}

.pagination a:hover {
  color: #303F9F;
}

.social_block {
  position: fixed;
  top: 30vh;
  left: 10px;
  padding: 10px 0px 0px 0px;
  z-index: 555;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .social_block {
    left: 0;
  }
}

@media screen and (max-width: 580px) {
  .social_block {
    display: none;
  }
}

.social_block p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-weight: bold;
  letter-spacing: 3px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  color: #666;
  position: relative;
  padding-bottom: 55px;
}

.social_block p::after {
  content: '';
  position: absolute;
  bottom: 5px;
  right: 20px;
  width: 3px;
  height: 40px;
  background: #666;
}

.social_block li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  list-style-type: none;
}

.social_block li a {
  display: block;
  width: 45px;
  height: 45px;
  text-decoration: none;
  overflow: hidden;
}

.social_block li a svg {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.social_block li a:hover svg {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.loader_wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.9);
}

.loader_wrap .loader {
  border: 13px solid #f3f3f3;
  border-top: 13px solid #303F9F;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  color: #333;
  font-family: noto-sans-regular, 'Roboto', sans-serif;
}

nav {
  background: #303F9F;
  position: fixed;
  z-index: 99998;
  width: 100%;
}

nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px;
}

nav .nav .logo {
  width: 170px;
  overflow: hidden;
}

nav .nav .logo a img {
  width: 100%;
}

@media screen and (max-width: 840px) {
  nav .nav .logo {
    width: 140px;
  }
}

@media screen and (max-width: 768px) {
  nav .nav .logo {
    width: 100px;
  }
}

nav .nav #mobile_menu_btn {
  display: none;
  cursor: pointer;
}

nav .nav #mobile_menu_btn svg {
  width: 30px;
  fill: #fff;
}

nav .nav #nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav #nav_menu li {
  list-style-type: none;
}

nav .nav #nav_menu li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  padding: 0px 15px;
}

nav .nav #nav_menu li a:hover {
  background: #3F51B5;
}

@media screen and (max-width: 1024px) {
  nav .nav #nav_menu li a {
    padding: 0px 8px;
  }
}

@media screen and (max-width: 840px) {
  nav .nav #nav_menu li a {
    padding: 0px 4px;
    font-size: 15px;
  }
}

nav .nav #nav_menu [data-search] input {
  padding: 6px;
  margin-left: 8px;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: #fff;
}

nav .nav #nav_menu [data-search] input::-webkit-input-placeholder {
  color: #fff;
}

nav .nav #nav_menu [data-search] input:-ms-input-placeholder {
  color: #fff;
}

nav .nav #nav_menu [data-search] input::-ms-input-placeholder {
  color: #fff;
}

nav .nav #nav_menu [data-search] input::placeholder {
  color: #fff;
}

nav .nav #logBtn svg, nav .nav #user_settings_btn svg {
  cursor: pointer;
  fill: #fff;
  width: 32px;
  height: 32px;
}

nav .nav .user_settings_content {
  position: absolute;
  top: 80px;
  right: 0;
  background: #3F51B5;
  width: 250px;
  padding: 10px;
  -webkit-transform: translateX(500px);
          transform: translateX(500px);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

nav .nav .user_settings_content.active_usc {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

nav .nav .user_settings_content #user_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  margin-bottom: 8px;
}

nav .nav .user_settings_content #user_name svg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  fill: #fff;
}

nav .nav .user_settings_content li {
  list-style-type: circle;
  color: #fff;
}

nav .nav .user_settings_content li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin: 5px 0px;
  white-space: nowrap;
}

nav .nav .user_settings_content li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  nav .nav {
    position: relative;
    min-height: 80px;
  }
  nav .nav .logo {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  nav .nav #logBtn, nav .nav #user_settings_btn {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  nav .nav #mobile_menu_btn {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav .nav #nav_menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    max-width: 320px;
    background: #3F51B5;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: unset;
  }
  nav .nav #nav_menu.menu_active {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav .nav #nav_menu li {
    display: block;
  }
  nav .nav #nav_menu li a {
    min-height: 50px;
    padding: 0px 10px;
  }
  nav .nav #nav_menu li a:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  nav .nav #nav_menu [data-search] {
    padding: 0px 10px 10px 10px;
    margin-top: 5px;
  }
  nav .nav #nav_menu [data-search] input {
    margin-left: unset;
  }
}

header.global_header {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  background-attachment: fixed;
  height: 500px;
  padding-top: 80px;
  overflow: hidden;
}

header.global_header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(28, 16, 99, 0.5);
  z-index: 1;
}

header.profile_global_header {
  padding-top: 100px;
}

header .header {
  position: relative;
  z-index: 1;
}

header .header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 400px;
}

header .header form input, header .header form .member_count, header .header form select {
  padding: 10px;
  background: #fff;
  border: none;
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  font-size: 16px;
  font-family: noto-sans-medium;
  margin-bottom: 15px;
  color: #5d5d5d;
  min-height: 50px;
  cursor: pointer;
}

header .header form input::-webkit-input-placeholder, header .header form .member_count::-webkit-input-placeholder, header .header form select::-webkit-input-placeholder {
  color: #5d5d5d;
}

header .header form input:-ms-input-placeholder, header .header form .member_count:-ms-input-placeholder, header .header form select:-ms-input-placeholder {
  color: #5d5d5d;
}

header .header form input::-ms-input-placeholder, header .header form .member_count::-ms-input-placeholder, header .header form select::-ms-input-placeholder {
  color: #5d5d5d;
}

header .header form input::placeholder, header .header form .member_count::placeholder, header .header form select::placeholder {
  color: #5d5d5d;
}

header .header form input[type="submit"], header .header form .member_count[type="submit"], header .header form select[type="submit"] {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background: orange;
  border-color: orange;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 940px) {
  header .header form input, header .header form .member_count, header .header form select {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}

@media screen and (max-width: 580px) {
  header .header form input, header .header form .member_count, header .header form select {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

header .profile_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .profile_header .profile_header_left {
  -ms-flex-preferred-size: fit-content;
      flex-basis: fit-content;
  text-align: center;
}

header .profile_header .profile_header_left img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
}

header .profile_header .profile_header_right {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  margin-right: 15px;
}

header .profile_header .profile_header_right h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

header .profile_header .profile_header_right .order_history_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  margin-top: 15px;
}

header .profile_header .profile_header_right .order_history p {
  font-size: 11px;
}

header .profile_header .profile_header_right .order_history a {
  display: block;
  margin: 8px 0px;
  text-decoration: none;
}

header .profile_header .profile_header_right .order_history a img {
  width: 100%;
  display: block;
}

header .profile_header .profile_header_right .order_history li {
  font-size: 11px;
}

header .profile_header a {
  display: block;
  margin-top: 15px;
  text-align: end;
  font-size: 13px;
  text-decoration: none;
  color: #448AFF;
}

@media screen and (max-width: 768px) {
  header .profile_header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .profile_header .profile_header_left, header .profile_header .profile_header_right {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
    margin-left: unset;
  }
  header .profile_header .profile_header_left img {
    margin: 0 auto;
    margin-bottom: 15px;
  }
}

main .main .services .services_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 0px;
  margin-left: -15px;
}

main .main .services .services_items .service_item {
  margin-right: 0px;
  margin-left: 15px;
  -ms-flex-preferred-size: calc(100% / 4 - 15px);
      flex-basis: calc(100% / 4 - 15px);
  max-height: 202px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
}

main .main .services .services_items .service_item img {
  display: block;
  width: 100%;
  height: 100%;
}

main .main .services .services_items .service_item .service_category {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 14px 10px;
  color: #fff;
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  font-size: 16px;
}

@media screen and (max-width: 1180px) {
  main .main .services .services_items .service_item .service_category {
    font-size: 15px;
  }
}

@media screen and (max-width: 1130px) {
  main .main .services .services_items .service_item .service_category {
    font-size: 14px;
  }
}

@media screen and (max-width: 1050px) {
  main .main .services .services_items .service_item .service_category {
    font-size: 13px;
  }
}

@media screen and (max-width: 1024px) {
  main .main .services .services_items .service_item .service_category {
    font-size: 15px;
  }
}

main .main .services .services_items .service_item .service_items_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #303f9fc4;
  color: #fff;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

main .main .services .services_items .service_item .service_items_text h3 {
  font-size: 20px;
  margin: 8px;
}

main .main .services .services_items .service_item .service_items_text p {
  font-size: 16px;
  margin-bottom: 14px;
}

main .main .services .services_items .service_item .service_items_text a {
  display: block;
  background: #fff;
  padding: 8px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #303F9F;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (max-width: 1280px) {
  main .main .services .services_items .service_item .service_items_text h3 {
    font-size: 18px;
  }
  main .main .services .services_items .service_item .service_items_text p {
    font-size: 15px;
  }
  main .main .services .services_items .service_item .service_items_text a {
    padding: 5px 12px;
  }
}

@media screen and (max-width: 1140px) {
  main .main .services .services_items .service_item .service_items_text h3 {
    font-size: 17px;
  }
  main .main .services .services_items .service_item .service_items_text p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  main .main .services .services_items .service_item .service_items_text a {
    padding: 5px 12px;
  }
}

@media screen and (max-width: 520px) {
  main .main .services .services_items .service_item .service_items_text h3 {
    font-size: 18px;
  }
  main .main .services .services_items .service_item .service_items_text p {
    font-size: 15px;
  }
  main .main .services .services_items .service_item .service_items_text a {
    padding: 5px 12px;
  }
}

@media screen and (max-width: 420px) {
  main .main .services .services_items .service_item .service_items_text h3 {
    font-size: 16px;
  }
  main .main .services .services_items .service_item .service_items_text p {
    font-size: 13px;
  }
  main .main .services .services_items .service_item .service_items_text a {
    padding: 4px 8px;
  }
}

@media screen and (max-width: 1024px) {
  main .main .services .services_items .service_item {
    -ms-flex-preferred-size: calc(100% / 3 - 15px);
        flex-basis: calc(100% / 3 - 15px);
  }
}

@media screen and (max-width: 768px) {
  main .main .services .services_items .service_item {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    max-height: 300px;
  }
}

@media screen and (max-width: 580px) {
  main .main .services .services_items .service_item {
    -ms-flex-preferred-size: calc(100% / 1);
        flex-basis: calc(100% / 1);
    max-height: unset;
  }
}

main .main .services .services_items .service_item:hover .service_category {
  opacity: 0;
}

main .main .services .services_items .service_item:hover .service_items_text {
  opacity: 1;
}

main .main .services #seemore {
  display: block;
  color: #448AFF;
  text-decoration: none;
  text-align: right;
}

main .main .services #seemore:hover {
  text-decoration: underline;
}

main .main .offers .offer_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .offers .offer_items .offer_item {
  -ms-flex-preferred-size: 32.5%;
      flex-basis: 32.5%;
  background: #3F51B5;
  color: #fff;
  padding: 20px;
  border-radius: 40px 0px;
  position: relative;
}

main .main .offers .offer_items .offer_item h3 {
  margin-bottom: 10px;
}

main .main .offers .offer_items .offer_item button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .main .offers .offer_items .offer_item button:hover {
  background: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  main .main .offers .offer_items .offer_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

main .main .reviews .owl-carousel .reviews_item {
  margin-top: 15px;
  color: #5d5d5d;
}

main .main .reviews .owl-carousel .reviews_item .user_img {
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: 0 auto;
}

main .main .reviews .owl-carousel .reviews_item .user_img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main .reviews .owl-carousel .reviews_item .user_img svg {
  width: 100%;
  height: 100%;
  fill: #448AFF;
}

main .main .reviews .owl-carousel .reviews_item h3 {
  margin: 10px 0px;
  text-align: center;
}

main .main .reviews .owl-carousel .reviews_item p {
  font-size: 14px;
}

main .main .reviews .owl-carousel .reviews_item p a {
  font-size: 14px;
  color: #448AFF;
}

@media screen and (max-width: 768px) {
  main .main .reviews .owl-carousel .reviews_item p {
    text-align: center;
  }
}

main .main .reviews .owl-carousel .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .main .reviews .owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  border: 1px solid #303F9F;
  border-radius: 50%;
  margin: 20px 5px;
}

main .main .reviews .owl-carousel .owl-dots .owl-dot.active {
  border: 1px solid #3F51B5;
  background: #3F51B5;
}

main .main .reviews .owl-carousel .owl-nav {
  position: relative;
}

main .main .reviews .owl-carousel .owl-nav button {
  font-size: 45px;
  color: #3F51B5;
  position: absolute;
  top: -180px;
}

main .main .reviews .owl-carousel .owl-nav button.owl-prev {
  left: 0px;
}

main .main .reviews .owl-carousel .owl-nav button.owl-next {
  right: 0px;
}

main .main .partners .swiper-container {
  width: 100%;
  height: 100%;
}

main .main .partners .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main .partners .swiper-container .swiper-wrapper .swiper-slide a img {
  display: block;
  width: 100%;
  height: auto;
}

main .main .partners .swiper-container .swiper-button-prev, main .main .partners .swiper-container .swiper-button-next {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

main .main .partners .swiper-container:hover .swiper-button-prev, main .main .partners .swiper-container:hover .swiper-button-next {
  opacity: 1;
}

main .main .contact .contact_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main .contact .contact_items .contact_item-info {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
}

main .main .contact .contact_items .contact_item-info .contact_item-info-top .contact_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #5d5d5d;
  font-family: noto-sans-medium, 'Roboto';
}

main .main .contact .contact_items .contact_item-info .contact_item-info-top .contact_info svg {
  width: 30px;
  height: 30px;
  fill: #448AFF;
  margin-right: 15px;
}

main .main .contact .contact_items .contact_item-info .contact_item-info-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

main .main .contact .contact_items .contact_item-info .contact_item-info-bottom h3 {
  width: 100%;
}

main .main .contact .contact_items .contact_item-info .contact_item-info-bottom li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  main .main .contact .contact_items .contact_item-info .contact_item-info-bottom li {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
  }
}

@media screen and (max-width: 580px) {
  main .main .contact .contact_items .contact_item-info .contact_item-info-bottom li {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

main .main .contact .contact_items .contact_item-info .contact_item-info-bottom li a {
  display: block;
  text-decoration: none;
}

main .main .contact .contact_items .contact_item-info .contact_item-info-bottom li a svg {
  width: 100%;
  height: 100%;
}

main .main .contact .contact_items .contact_item-map {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

main .main .contact .contact_items .contact_item-map iframe {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  main .main .contact .contact_items .contact_item-info, main .main .contact .contact_items .contact_item-map {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

main .main .services_more .service_more_item img {
  display: block;
  max-width: 400px;
  float: left;
  margin-right: 15px;
}

@media screen and (max-width: 580px) {
  main .main .services_more .service_more_item img {
    float: none;
    max-width: 100%;
    margin-right: 0px;
  }
}

main .main .services_more .service_more_photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 0px;
  margin-left: -15px;
}

main .main .services_more .service_more_photos .service_more_photos_wrap {
  margin-right: 0px;
  margin-left: 15px;
  -ms-flex-preferred-size: calc(100% / 4 - 15px);
      flex-basis: calc(100% / 4 - 15px);
  max-height: 202px;
  overflow: hidden;
  margin-bottom: 15px;
}

main .main .services_more .service_more_photos .service_more_photos_wrap img {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  main .main .services_more .service_more_photos .service_more_photos_wrap {
    -ms-flex-preferred-size: calc(100% / 3 - 15px);
        flex-basis: calc(100% / 3 - 15px);
  }
}

@media screen and (max-width: 768px) {
  main .main .services_more .service_more_photos .service_more_photos_wrap {
    -ms-flex-preferred-size: calc(100% / 2 - 15px);
        flex-basis: calc(100% / 2 - 15px);
    max-height: 300px;
  }
}

@media screen and (max-width: 580px) {
  main .main .services_more .service_more_photos .service_more_photos_wrap {
    -ms-flex-preferred-size: calc(100% / 1);
        flex-basis: calc(100% / 1);
    max-height: unset;
  }
}

main .main .about article img {
  display: block;
  max-width: 400px;
  background: #303F9F;
  padding: 30px;
  float: left;
  margin-right: 15px;
}

@media screen and (max-width: 620px) {
  main .main .about article img {
    max-width: 100%;
    margin-right: unset;
    margin-bottom: 10px;
  }
}

main .main .reset form {
  margin-top: 10px;
}

main .main .reset form input {
  padding: 10px;
  font-size: 15px;
}

main .main .reset form input[type=text] {
  border: 1px solid #ccc;
}

main .main .reset form input[type=submit] {
  background: #42b983;
  border: none;
  cursor: pointer;
  color: #fff;
}

main .main .help p, main .main .help ul, main .main .help ol {
  margin-bottom: 10px;
}

main .main .help button {
  background: #42b983;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px;
}

main .main .search_resault #search_resaults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .main .search_resault #search_resaults .search_value {
  -ms-flex-preferred-size: 49.4%;
      flex-basis: 49.4%;
  margin-bottom: 15px;
  padding: 10px;
  background: #f1f1f1;
}

main .main .search_resault #search_resaults .search_value .search_value_cover {
  display: block;
  text-decoration: none;
  overflow: hidden;
}

main .main .search_resault #search_resaults .search_value .search_value_cover img {
  width: 100%;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  display: block;
}

main .main .search_resault #search_resaults .search_value .search_value_content {
  text-decoration: none;
}

main .main .search_resault #search_resaults .search_value .search_value_content h3 {
  color: #448AFF;
  margin: 8px 0px;
}

@media screen and (max-width: 920px) {
  main .main .search_resault #search_resaults .search_value .search_value_content h3 {
    font-size: 100%;
  }
}

main .main .search_resault #search_resaults .search_value .search_value_content p {
  color: #5d5d5d;
}

main .main .search_resault #search_resaults .search_value:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .main .search_resault #search_resaults .search_value:hover h3 {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  main .main .search_resault #search_resaults .search_value {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

main .profile_main .owl-carousel {
  margin-bottom: 20px;
}

main .profile_main .owl-carousel .user-profile-slide img {
  width: 100%;
  display: block;
  margin-bottom: 7px;
}

main .profile_main .owl-carousel .user-profile-slide .service_items_text h3 {
  margin-bottom: 7px;
  color: #3F51B5;
}

main .profile_main .owl-carousel .user-profile-slide .service_items_text p {
  color: #5d5d5d;
  font-size: 14px;
}

main .profile_main .owl-carousel .user-profile-slide .service_items_text a {
  color: #448AFF;
  font-size: 12px;
}

main .profile_main .settings_block form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .profile_main .settings_block form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  max-width: 700px;
}

main .profile_main .settings_block form label span {
  cursor: pointer;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  font-weight: bold;
}

main .profile_main .settings_block form label button {
  background: #3F51B5;
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  display: unset;
  margin-top: unset;
}

main .profile_main .settings_block form label #hide {
  display: none;
}

main .profile_main .settings_block form label input {
  border: 1px solid #ccc;
  font-size: 13px;
  -ms-flex-preferred-size: 68%;
      flex-basis: 68%;
  padding: 10px;
}

main .profile_main .settings_block form button {
  display: block;
  margin-top: 15px;
  padding: 10px;
  border: none;
  background: #42b983;
  cursor: pointer;
  max-width: 700px;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  main .profile_main .settings_block form label, main .profile_main .settings_block form button {
    max-width: unset;
  }
}

@media screen and (max-width: 768px) {
  main .profile_main .settings_block form label input, main .profile_main .settings_block form label button {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  main .profile_main .settings_block form label span {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    margin-right: 15px;
  }
}

@media screen and (max-width: 520px) {
  main .profile_main .settings_block form label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  main .profile_main .settings_block form label input, main .profile_main .settings_block form label button {
    width: 100%;
  }
  main .profile_main .settings_block form label span {
    margin-right: unset;
    margin-bottom: 10px;
  }
}

main .profile_main #accordion {
  overflow: hidden;
}

main .profile_main #accordion h4 {
  cursor: pointer;
}

main .profile_main #accordion .accordion {
  height: 0px;
  overflow: hidden;
  -webkit-transform: translateY(-2000px);
          transform: translateY(-2000px);
  -webkit-transition: all .5s;
  transition: all .5s;
  margin-top: 10px;
}

main .profile_main #accordion .accordion.active_accordion {
  min-height: 150px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

footer {
  background: #303F9F;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
  color: #fff;
}

footer .footer .footer_top_item {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

footer .footer .footer_top_item .footer_top_item_title {
  font-size: 21px;
  font-family: noto-sans-medium;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

footer .footer .footer_top_item img {
  width: 150px;
}

footer .footer .footer_top_item a {
  color: #fff;
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
}

footer .footer .footer_top_item a:hover {
  text-decoration: underline;
}

footer .footer .footer_top_item ul li {
  list-style-type: none;
}

@media screen and (max-width: 1024px) {
  footer .footer .footer_top_item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 768px) {
  footer .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  footer .footer .footer_top_item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 24px;
  }
}

footer .footer_bottom {
  font-size: 13px;
  color: #fff;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 10px 0 5px 0;
}

footer .footer_bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_bottom .container a {
  color: #fff;
}

@media screen and (max-width: 1024px) {
  footer .footer_bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer_bottom .container .web_info {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 420px) {
  footer .footer_bottom .container {
    font-size: 12px;
  }
}

.modal {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
}

.modal [data-offer-form], .modal .member_count_options, .modal .login_or_reg {
  background: #fff;
  padding: 20px;
  margin: 0 20px;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  min-height: 250px;
  position: relative;
}

.modal [data-offer-form] [data-offer-close] {
  position: absolute;
  top: 11px;
  right: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.modal [data-offer-form] [data-offer-close] svg {
  width: 25px;
  height: 25px;
  fill: #e90101;
}

.modal [data-offer-form] h3 {
  margin-top: 0px;
}

.modal [data-offer-form] [data-offerPrice] {
  font-size: 14px;
  margin-bottom: 8px;
}

.modal [data-offer-form] [data-offerPrice] span {
  color: #e90101;
}

.modal [data-offer-form] input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.modal [data-offer-form] input::-webkit-input-placeholder {
  color: #5d5d5d;
}

.modal [data-offer-form] input:-ms-input-placeholder {
  color: #5d5d5d;
}

.modal [data-offer-form] input::-ms-input-placeholder {
  color: #5d5d5d;
}

.modal [data-offer-form] input::placeholder {
  color: #5d5d5d;
}

.modal [data-offer-form] input[type="submit"] {
  background: #3F51B5;
  color: #fff;
  border-color: #3F51B5;
  cursor: pointer;
}

.modal .member_count_options [data-count-close] {
  position: absolute;
  top: 11px;
  right: 0;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.modal .member_count_options [data-count-close] svg {
  width: 25px;
  height: 25px;
  fill: #e90101;
}

.modal .member_count_options h3 {
  margin-top: 0px;
}

.modal .member_count_options [data-count-form] .mco_item {
  margin: 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .member_count_options [data-count-form] .mco_item .mco_counter button {
  padding: 5px 10px;
  background: #C5CAE9;
  color: #fff;
  border: none;
  cursor: pointer;
}

.modal .member_count_options [data-count-form] [data-count-sumbit] {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
  padding: 8px 15px;
  background: #3F51B5;
  color: #fff;
  border: 1px solid #3F51B5;
}

.modal .login_or_reg {
  position: relative;
}

.modal .login_or_reg .tab_toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.modal .login_or_reg .tab_toggle .open_log, .modal .login_or_reg .tab_toggle .open_reg {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}

.modal .login_or_reg .tab_toggle .active_tab {
  background: #3F51B5;
  color: #fff;
}

.modal .login_or_reg [data-close-logmodal] {
  text-align: center;
  line-height: 33px;
  position: absolute;
  top: 5px;
  right: 5px;
  background: #f00;
  color: #fff;
  font-size: 22px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.modal .login_or_reg [data-close-logmodal]:hover {
  background: #d00;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.modal .login_or_reg [data-log] > input, .modal .login_or_reg [data-reg] > input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 8px;
}

.modal .login_or_reg [data-log] a, .modal .login_or_reg [data-reg] a {
  font-size: 13px;
  color: #448AFF;
}

.modal .login_or_reg [data-log] p, .modal .login_or_reg [data-reg] p {
  font-size: 14px;
  color: #d00;
  margin: 10px 0px 5px 0px;
}

.modal .login_or_reg [data-log] #file, .modal .login_or_reg [data-reg] #file {
  display: none;
}

.modal .login_or_reg [data-log] .birthday select, .modal .login_or_reg [data-reg] .birthday select {
  padding: 7px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.modal .login_or_reg [data-log] .sex, .modal .login_or_reg [data-reg] .sex {
  margin-bottom: 10px;
}

.modal .login_or_reg [data-log] .sex label, .modal .login_or_reg [data-reg] .sex label {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.modal .login_or_reg [data-log] .sex label input, .modal .login_or_reg [data-reg] .sex label input {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
}

.modal .login_or_reg [data-log] .sex label input::before, .modal .login_or_reg [data-reg] .sex label input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #0d8ffa;
}

.modal .login_or_reg [data-log] .sex label input::after, .modal .login_or_reg [data-reg] .sex label input::after {
  display: none;
  content: '✔';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 15px;
  height: 15px;
  color: #fff;
}

.modal .login_or_reg [data-log] .sex label input:checked::after, .modal .login_or_reg [data-reg] .sex label input:checked::after {
  display: block;
}

.modal .login_or_reg [data-log] [data-add-image], .modal .login_or_reg [data-reg] [data-add-image] {
  background: #0d8ffa;
  border-style: solid;
  border-color: #0d8ffa;
  cursor: pointer;
  color: #fff;
  padding: 10px;
  display: block;
  width: 100%;
}

.modal .login_or_reg [data-log] input[type=submit], .modal .login_or_reg [data-reg] input[type=submit] {
  background: #42b983;
  border-color: #42b983;
  cursor: pointer;
  color: #fff;
  margin-top: 15px;
}

@media screen and (max-width: 380px) {
  .modal .login_or_reg [data-log] .sex label, .modal .login_or_reg [data-reg] .sex label {
    margin-right: unset;
    margin-bottom: 10px;
    display: block;
  }
  .modal .login_or_reg [data-log] .birthday select, .modal .login_or_reg [data-reg] .birthday select {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
}

.modal .login_or_reg [data-reg] {
  display: none;
}
/*# sourceMappingURL=style.css.map */