*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style-position: inside;
}

$darkBG : #303F9F;
$lightBG : #3F51B5;
$gray: #757575;
$lightBlue: #448AFF;
$primary: #C5CAE9;
$divider : #BDBDBD;
$white : #fff;
$black : #333;
$d5 : #5d5d5d;
$btnGreen : #42b983;

.lg-backdrop{
    z-index: 99999 !important;
}

.lg-outer{
    z-index: 99999 !important;
}


@font-face {
    font-family: noto-sans-bold;
    src: url('../fonts/NotoSansArmenian-Bold.ttf');
}

@font-face {
    font-family: noto-sans-regular;
    src: url('../fonts/NotoSansArmenian-Regular.ttf');
}

@font-face {
    font-family: noto-sans-medium;
    src: url('../fonts/NotoSansArmenian-Medium.ttf');
}

@font-face {
    font-family: noto-sans-light;
    src: url('../fonts/NotoSansArmenian-Light.ttf');
}

@font-face {
    font-family: noto-sans-thin;
    src: url('../fonts/NotoSansArmenian-Thin.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// global styles start

p {
    line-height: 25px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

.title {
    font-size: 28px;
    color: $lightBlue;
    position: relative;
    padding-left: 12px;
    margin-bottom: 24px;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 6px;
        background: $lightBlue;
    }

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }

    @media screen and (max-width: 580px) {
        font-size: 20px;
    }

    @media screen and (max-width: 520px) {
        font-size: 18px;
    }

    @media screen and (max-width: 480px) {
        font-size: 17px;
    }

    @media screen and (max-width: 420px) {
        font-size: 16px;
    }
}

.sub_title {
    color: $d5;
    padding-bottom: 10px;
    border-bottom: 2px solid $d5;
    margin: 24px 0px 12px 0px;
}

.ms_style {
    margin: 20px 0px 50px 0px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    
    a {
        text-decoration: none;
        padding: 4px 7px;
        margin-right: 5px;
        font-size: 16px;
        color: $gray;

        &.active_pagination {
            color: $darkBG;
            border-bottom: 2px solid $darkBG;
        }

        &:hover {
            color: $darkBG;
        }
    }
}

.social_block {
    position: fixed;
    top: 30vh;
    left: 10px;
    padding: 10px 0px 0px 0px;
    z-index: 555;
    background: #fff;

    @media screen and (max-width: 768px) {
        left: 0;
    }

    @media screen and (max-width: 580px) {
        display: none;
    }

    p {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-weight: bold;
        letter-spacing: 3px;
        writing-mode: vertical-rl;
        color: #666;
        position: relative;
        padding-bottom: 55px;

        &::after {
            content: '';
            position: absolute;
            bottom: 5px;
            right: 20px;
            width: 3px;
            height: 40px;
            background: #666;
        }
    }

    li {
        display: flex;
        flex-flow: column;
        list-style-type: none;

        a {
            display: block;
            width: 45px;
            height: 45px;
            text-decoration: none;
            overflow: hidden;

            svg {
                width: 100%;
                height: 100%;
                transition: transform .5s;
            }

            &:hover {
                svg {
                    transform: scale(0.9);
                }
            }
        }
    }
}

.loader_wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.9);

    .loader {
        border: 13px solid #f3f3f3;
        border-top: 13px solid $darkBG;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;
    }
      
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

// global styles end

body {
    color: $black;
    font-family: noto-sans-regular, 'Roboto', sans-serif;
}

// nav style start
nav {
    background: $darkBG;
    position: fixed;
    z-index: 99998;
    width: 100%;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        .logo {
            width: 170px;
            overflow: hidden;

            a{
                img {
                    width: 100%;
                }
            }
            
            @media screen and (max-width: 840px) {
                width: 140px;
            }
            @media screen and (max-width: 768px) {
                width: 100px;
            }
        }

        #mobile_menu_btn {
            display: none;
            cursor: pointer;
            svg {
                width: 30px;
                fill: $white
            }
        }

        #nav_menu {
            display: flex;
            align-items: center;
            
            li {
                list-style-type: none;
                a{
                    display: flex;
                    min-height: 80px;
                    align-items: center;
                    color: $white;
                    text-decoration: none;
                    padding: 0px 15px;
                    &:hover {
                        background: $lightBG;
                    }

                    @media screen and (max-width: 1024px) {
                        padding: 0px 8px;
                    }

                    @media screen and (max-width: 840px) {
                        padding: 0px 4px;
                        font-size: 15px;
                    }
                }
            }
            [data-search] {
                input {
                    padding: 6px;
                    margin-left: 8px;
                    width: 100%;
                    border:none;
                    border-bottom: 1px solid white;
                    background: transparent;
                    color: $white;

                    &::placeholder {
                        color: $white
                    }
                }
            }
        }

        #logBtn, #user_settings_btn {
            svg {
                cursor: pointer;
                fill: $white;
                width: 32px;
                height: 32px;
            }
        }

        .user_settings_content {
            position: absolute;
            top: 80px;
            right: 0;
            background: $lightBG;
            width: 250px;
            padding: 10px;
            transform: translateX(500px);
            transition: transform .5s;

            &.active_usc {
                transform: translateX(0px);
                transition: transform .5s;
            }

            #user_name {
                display: flex;
                align-items: center;
                color: $white;
                margin-bottom: 8px;

                svg {
                    margin-right: 8px;
                    width: 16px;
                    height: 16px;
                    fill: $white;
                }
            }

            li {
                list-style-type: circle;
                color: $white;

                a {
                    display: inline-block;
                    color: $white;
                    text-decoration: none;
                    font-size: 14px;
                    margin: 5px 0px;
                    white-space: nowrap;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

        @media screen and (max-width: 768px) {
            position: relative;
            min-height: 80px;

            .logo {
                order: 3;
            }

            #logBtn, #user_settings_btn {
                order: 2;
            }

            #mobile_menu_btn {
                display: block;
                order: 1;
            }

            #nav_menu {
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                max-width: 320px;
                background: $lightBG;
                transform: translateX(-500px);
                transition: all 0.5s;
                display: unset;

                &.menu_active {
                    transform: translateX(0px);
                    transition: all 0.5s;
                }

                li {
                    display: block;

                    a {
                        min-height: 50px;
                        padding: 0px 10px;

                        &:hover {
                            background: rgba(255, 255, 255, .1)
                        }
                    }
                }

                [data-search] {
                    padding: 0px 10px 10px 10px;
                    margin-top: 5px;
                    
                    input {
                        margin-left: unset;
                    }
                }
            }
        }
    }
}
// nav style end

// header style start
header {

    &.global_header {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% 0%;
        background-attachment: fixed;
        height: 500px;
        padding-top: 80px;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(28, 16, 99, 0.5);
            z-index: 1;
        }
    }

    &.profile_global_header {
        padding-top: 100px;
    }

    .header {
        position: relative;
        z-index: 1;
        form {
            display: flex;
            flex-wrap: wrap;;
            justify-content: space-between;
            align-items: flex-start;
            align-content: center;
            height: 400px;
            
            input, .member_count, select {
                padding: 10px;
                background: $white;
                border: none;
                flex-basis: 24%;
                font-size: 16px;
                font-family: noto-sans-medium;
                margin-bottom: 15px;
                color: $d5;
                min-height: 50px;
                cursor: pointer;

                &::placeholder {
                    color: $d5;
                }

                &[type="submit"] {
                    flex-basis: 100%;
                    background: orange;
                    border-color: orange;
                    color: $white;
                    cursor: pointer;
                }

                @media screen and (max-width: 940px) {
                    flex-basis: 49%;
                }

                @media screen and (max-width: 580px) {
                    flex-basis: 100%;
                }
            }
        }
    }

    .profile_header {
        display: flex;
        justify-content: space-between;

        .profile_header_left {
            flex-basis: fit-content;
            text-align: center;

            img {
                width: 250px;
                height: 250px;
                object-fit: cover;
                border-radius: 50%;
                display: block;
                margin-bottom: 10px;
            }
        }

        .profile_header_right {
            flex-basis: 75%;
            margin-right: 15px;

            h3 {
                margin-top: 0px;
                margin-bottom: 0px;
            }

            .order_history_items {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                grid-gap: 15px;
                margin-top: 15px;
            }

            .order_history {
                p {
                    font-size: 11px;
                }

                a {
                    display: block;
                    margin: 8px 0px;
                    text-decoration: none;

                    img {
                        width: 100%;
                        display: block;
                    }
                }

                li {
                    font-size: 11px;
                }
            }
        }

        a {
            display: block;
            margin-top: 15px;
            text-align: end;
            font-size: 13px;
            text-decoration: none;
            color: $lightBlue;
        }

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            .profile_header_left, .profile_header_right {
                flex-basis: 100%;
                margin-bottom: 20px;
                margin-left: unset;
            }

            .profile_header_left {
                img {
                    margin: 0 auto;
                    margin-bottom: 15px;
                }
            }
        }
    }


}
// header style end

// main style start
main {
    .main {
        // general page
        .services {
            .services_items {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                margin-right: 0px;
                margin-left: -15px;

                .service_item {
                    margin-right: 0px;
                    margin-left: 15px;
                    flex-basis: calc(100% / 4 - 15px);
                    max-height: 202px;
                    overflow: hidden;
                    margin-bottom: 15px;
                    position: relative;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    .service_category {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: rgba(0, 0, 0, 0.6);
                        text-align: center;
                        padding: 14px 10px;
                        color: $white;
                        opacity: 1;
                        transition: opacity .5s;
                        font-size: 16px;

                        @media screen and (max-width: 1180px) {
                            font-size: 15px;
                        }
                        @media screen and (max-width: 1130px) {
                            font-size: 14px;
                        }
                        @media screen and (max-width: 1050px) {
                            font-size: 13px;
                        }
                        @media screen and (max-width: 1024px) {
                            font-size: 15px;
                        }
                    }

                    .service_items_text {
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: #303f9fc4;
                        color: $white;
                        opacity: 0;
                        transition:.5s ;
                        text-align: center;
    
                        h3 {
                            font-size: 20px;
                            margin: 8px;
                        }
    
                        p{
                            font-size: 16px;
                            margin-bottom: 14px;
                        }
    
                        a {
                            display: block;
                            background: $white;
                            padding: 8px 15px;
                            width: fit-content;
                            color: $darkBG;
                            text-decoration: none;
                            font-size: 14px;
                        }

                        @media screen and (max-width: 1280px) {
                            h3 {
                                font-size: 18px;
                            }
    
                            p{
                                font-size: 15px;
                            }
    
                            a{
                                padding: 5px 12px;
                            }
                        }

                        @media screen and (max-width: 1140px) {
                            h3 {
                                font-size: 17px;
                            }
    
                            p{
                                font-size: 14px;
                                margin-bottom: 8px;
                            }
    
                            a{
                                padding: 5px 12px;
                            }
                        }
    
                        @media screen and (max-width: 520px) {
                            h3 {
                                font-size: 18px;
                            }
    
                            p{
                                font-size: 15px;
                            }
    
                            a{
                                padding: 5px 12px;
                            }
                        }
    
                        @media screen and (max-width: 420px) {
                            h3 {
                                font-size: 16px;
                            }
    
                            p{
                                font-size: 13px;
                            }
    
                            a{
                                padding: 4px 8px;
                            }
                        }
                    }

                    @media screen and (max-width: 1024px) {
                        flex-basis: calc(100% / 3 - 15px);
                    }

                    @media screen and (max-width: 768px) {
                        flex-basis: calc(100% / 2 - 15px);
                        max-height: 300px;
                    }

                    @media screen and (max-width: 580px) {
                        flex-basis: calc(100% / 1);
                        max-height: unset;
                    }

                    &:hover {
                        .service_category {
                            opacity: 0;
                        }
                        .service_items_text {
                            opacity: 1;
                        }
                    }
                }
            }

            #seemore {
                display: block;
                color:$lightBlue;
                text-decoration: none;
                text-align: right;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .offers {
            .offer_items{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                
                .offer_item {
                    flex-basis: 32.5%;
                    background: $lightBG;
                    color: $white;
                    padding: 20px;
                    border-radius: 40px 0px;
                    position: relative;
    
                    h3 {
                        margin-bottom: 10px;
                    }
                    button {
                        margin-top: 20px;
                        padding: 10px 20px;
                        cursor: pointer;
                        background: transparent;
                        border: 2px solid $white;
                        color: $white;
                        transition: all .5s;
    
                        &:hover {
                            background:rgba(255, 255, 255, .5);
                        }
                    }
    
                    @media screen and (max-width: 768px) {
                        flex-basis: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        } 
        .reviews {
            .owl-carousel {
                .reviews_item {
                    margin-top: 15px;
                    color: $d5;
                    .user_img {
                        text-align: center;
                        border-radius: 50%;
                        width: 150px;
                        height: 150px;
                        overflow: hidden;
                        margin: 0 auto;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        svg {
                            width: 100%;
                            height: 100%;
                            fill: $lightBlue;
                        }
                    }

                    h3 {
                        margin: 10px 0px;
                        text-align: center;
                    }

                    p {
                        font-size: 14px;

                        a {
                            font-size: 14px;
                            color: $lightBlue;
                        }
                        @media screen and (max-width: 768px) {
                            text-align: center;
                        }
                    }
                }
                .owl-dots{
                    display: flex;
                    justify-content: center;
    
                    .owl-dot{
                        width: 9px;
                        height: 9px;
                        border: 1px solid $darkBG;
                        border-radius: 50%;
                        margin: 20px 5px;
                    }
    
                    .owl-dot.active{
                        border: 1px solid $lightBG;;
                        background: $lightBG;;
                    }
                }
                .owl-nav {
                    position: relative;
                    button {
                        font-size: 45px;
                        color: $lightBG;
                        position: absolute;
                        top: -180px;

                        &.owl-prev {
                            left: 0px;
                        }

                        &.owl-next {
                            right: 0px;
                        }
                    }
                }
            }
        }
        .partners {
            .swiper-container {
                width: 100%;
                height: 100%;

                .swiper-wrapper {
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        a {
                            img {
                                display: block;
                                width: 100%;
                                height: auto;
                            }
                        }
                    }
                }

                .swiper-button-prev, .swiper-button-next {
                    opacity: 0;
                    transition: opacity 0.5s;
                }

                &:hover {
                    .swiper-button-prev, .swiper-button-next {
                        opacity: 1;
                    }
                }
            }
        }
        .contact {
            .contact_items {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .contact_item-info {
                    flex-basis: 28%;

                    .contact_item-info-top {
                        .contact_info {
                            display: flex;
                            align-items: center;
                            margin-bottom: 10px;
                            color: $d5;
                            font-family: noto-sans-medium, 'Roboto';
                            svg {
                                width: 30px;
                                height: 30px;
                                fill: $lightBlue;
                                margin-right: 15px;
                            }
                        }
                    }

                    .contact_item-info-bottom {
                        display: flex;
                        flex-flow: row wrap;

                        h3 {
                            width: 100%;
                        }

                        li {
                            flex-basis: 25%;
                            list-style-type: none;

                            @media screen and (max-width: 1024px) {
                                flex-basis: 100px;
                            }

                            @media screen and (max-width: 580px) {
                                flex-basis: 25%;
                            }

                            a {
                                display: block;
                                text-decoration: none;

                                svg {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }
                    }
                }
                .contact_item-map {
                    flex-basis: 70%;

                    iframe {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 1024px) {
                    .contact_item-info, .contact_item-map {
                        flex-basis: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        // child pages

        .services_more {
            .service_more_item {
                img {
                    display: block;
                    max-width: 400px;
                    float: left;
                    margin-right: 15px;
                }

                @media screen and (max-width: 580px) {
                    img {
                        float: none;
                        max-width: 100%;
                        margin-right: 0px;
                    }
                }
            }
            .service_more_photos {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                margin-right: 0px;
                margin-left: -15px;
                // display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                // grid-gap: 10px;

                .service_more_photos_wrap {
                    margin-right: 0px;
                    margin-left: 15px;
                    flex-basis: calc(100% / 4 - 15px);
                    max-height: 202px;
                    overflow: hidden;
                    margin-bottom: 15px;
                    
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    @media screen and (max-width: 1024px) {
                        flex-basis: calc(100% / 3 - 15px);
                    }

                    @media screen and (max-width: 768px) {
                        flex-basis: calc(100% / 2 - 15px);
                        max-height: 300px;
                    }

                    @media screen and (max-width: 580px) {
                        flex-basis: calc(100% / 1);
                        max-height: unset;
                    }
                }
            }
        }
        .about {
            article {
                img {
                    display: block;
                    max-width: 400px;
                    background: $darkBG;
                    padding: 30px;
                    float: left;
                    margin-right: 15px;

                    @media screen and (max-width: 620px) {
                        max-width: 100%;
                        margin-right: unset;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .reset {
            form {
                margin-top: 10px;

                input {
                    padding: 10px;
                    font-size: 15px;

                    &[type=text] {
                        border: 1px solid #ccc;
                    }

                    &[type=submit] {
                        background: $btnGreen;
                        border: none;
                        cursor: pointer;
                        color: $white;
                    }
                }
            }
        }
        .help {
            p, ul, ol {
                margin-bottom: 10px;
            }

            button {
                background: $btnGreen;
                border: none;
                cursor: pointer;
                color: $white;
                padding: 10px;
            }
        }
        .search_resault {

            #search_resaults{ 
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .search_value {
                    flex-basis: 49.4%;
                    margin-bottom: 15px;
                    padding: 10px;
                    background: #f1f1f1;

                    .search_value_cover {
                        display: block;
                        text-decoration: none;
                        overflow: hidden;

                        img {
                            width: 100%;
                            transition: transform .5s;
                            display: block;
                        }
                    }

                    .search_value_content {
                        text-decoration: none;
                        
                        h3 {
                            color: $lightBlue;
                            margin: 8px 0px;

                            @media screen and (max-width: 920px) {
                                font-size: 100%;
                            }
                        }

                        p {
                            color: $d5;
                        }   
                    }

                    &:hover {
                        img {
                            transform: scale(1.1);
                        }

                        h3 {
                            text-decoration: underline;
                        }
                    }

                    @media screen and (max-width: 480px) {
                        flex-basis: 100%;
                    }
                }
            }
        }
    }

    .profile_main {
        .owl-carousel {
            margin-bottom: 20px;

            .user-profile-slide {
                img {
                    width: 100%;
                    display: block;
                    margin-bottom: 7px;
                }

                .service_items_text {
                    h3 {
                        margin-bottom: 7px;
                        color: $lightBG;
                    }

                    p {
                        color: $d5;
                        font-size: 14px;
                    }

                    a {
                        color: $lightBlue;
                        font-size: 12px;
                    }
                }
            }
        }

        .settings_block {
            form {
                display: flex;
                flex-flow: column;

                label {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 10px;
                    max-width: 700px;

                    span {
                        cursor: pointer;
                        flex-basis: 30%;
                        font-weight: bold;
                    }

                    button {
                        background: $lightBG;
                        flex-basis: 68%;

                        display: unset;
                        margin-top: unset;
                    }

                    #hide {
                        display: none;
                    }

                    input {
                        border: 1px solid #ccc;
                        font-size: 13px;
                        flex-basis: 68%;
                        padding: 10px;
                    }
                }

                button {
                    display: block;
                    margin-top: 15px;
                    padding: 10px;
                    border: none;
                    background: $btnGreen;
                    cursor: pointer;
                    max-width: 700px;
                    color: $white;
                }

                @media screen and (max-width: 1024px) {
                    label, button {
                        max-width: unset;
                    }
                }

                @media screen and (max-width: 768px) {
                    label {
                        input, button {
                            flex-basis: 50%;
                        }

                        span {
                            flex-basis: unset;
                            margin-right: 15px;
                        }
                    }
                }

                @media screen and (max-width: 520px) {
                    label {
                        flex-flow: column;

                        input, button {
                            width: 100%;
                        }

                        span {
                            margin-right: unset;
                            margin-bottom: 10px;
                        }
                    }
                }

            }
        }

        #accordion {
            overflow: hidden;

            h4 {
                cursor: pointer;
            }

            .accordion {
                height: 0px;
                overflow: hidden;
                transform: translateY(-2000px);
                transition: all .5s;
                margin-top: 10px;

                &.active_accordion {
                    min-height: 150px;
                    transform: translateY(0px);
                    transition: all .5s;
                }
            }
        }
    }
}
// main style end
// footer style start
footer {
    background: $darkBG;

    .footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 25px;
        color: $white;

        .footer_top_item {
            flex-basis: 22%;

            .footer_top_item_title {
                font-size: 21px;
                font-family: noto-sans-medium;
                margin-bottom: 12px;
                padding-bottom: 12px;
                border-bottom: 2px solid rgba(255, 255, 255, .1);
            }

            img {
                width: 150px;
            }

            a {
                color: $white;
                display: block;
                margin-bottom: 5px;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

            ul {
                li {
                    list-style-type: none;
                }
            }
        }

        @media screen and (max-width: 1024px) {
            .footer_top_item {
                flex-basis: 45%;
                margin-bottom: 18px;
            }
        }

        @media screen and (max-width: 768px) {
            justify-content: center;
            text-align: center;

            .footer_top_item {
                flex-basis: 100%;
                margin-bottom: 24px;
            }
        }
    }

    .footer_bottom {
        font-size: 13px;
        color: $white;
        border-top: 2px solid rgba(255, 255, 255, .1);
        padding: 10px 0 5px 0;

        .container {
            display: flex;
            justify-content: space-between;

            a {
                color: $white;
            }

            @media screen and (max-width: 1024px) {
                flex-flow: column;
                align-items: center;

                .web_info {
                    margin-bottom: 10px;
                }
            }

            @media screen and (max-width: 420px) {
                font-size: 12px;
            }
        }
    }
} 
// footer style end 

// modal style start

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;

    [data-offer-form], .member_count_options, .login_or_reg {
        background: $white;
        padding: 20px;
        margin: 0 20px;
        flex-basis: 500px;
        min-height: 250px;
        position: relative;
    }

    [data-offer-form] {
        [data-offer-close] {
            position: absolute;
            top: 11px;
            right: 0;
            width: 35px;
            height: 35px;
            cursor: pointer;

            svg {
                width: 25px;
                height: 25px;
                fill:rgb(233, 1, 1);
            }
        }
        
        h3 {
            margin-top: 0px;   
        }

        [data-offerPrice] {
            font-size: 14px;
            margin-bottom: 8px;

            span {
                color: rgb(233, 1, 1);
            }
        }

        input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            
            &::placeholder {
                color: $d5;
            }

            &[type="submit"] {
                background: $lightBG;
                color: $white;
                border-color: $lightBG;
                cursor: pointer;
            }
        }
    }

    .member_count_options{
        [data-count-close] {
            position: absolute;
            top: 11px;
            right: 0;
            width: 35px;
            height: 35px;
            cursor: pointer;

            svg {
                width: 25px;
                height: 25px;
                fill:rgb(233, 1, 1);
            }
        }

        h3 {
            margin-top: 0px;   
        }
        [data-count-form] {
            .mco_item {
                margin: 8px 0px;
                display: flex;
                justify-content: space-between;    
                .mco_counter {
                    button {
                        padding: 5px 10px;
                        background: $primary;
                        color: $white;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
            [data-count-sumbit] {
                display: inline-block;
                margin-top: 10px;
                width: 100%;
                cursor: pointer;
                padding: 8px 15px;
                background: $lightBG;
                color: $white;
                border: 1px solid $lightBG;
            }
        }
    }

    .login_or_reg {
        position: relative;

        .tab_toggle {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .open_log, .open_reg {
                padding: 10px;
                cursor: pointer;
                font-size: 14px;
            }

            .active_tab {
                background: $lightBG;
                color: $white;
            }
        }
        [data-close-logmodal] {
            text-align: center;
            line-height: 33px;
            position: absolute;
            top: 5px;
            right: 5px;
            background: #f00;
            color: $white;
            font-size: 22px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
            transition: all .5s;

            &:hover {
                background: #d00;
                transform: rotate(-90deg);
            }
        }
        [data-log],[data-reg] {
            & > input {
                display: block;
                width: 100%;
                padding: 10px;
                border: 1px solid #ccc;
                margin-bottom: 8px;
            }

            a {
                font-size: 13px;
                color: $lightBlue;
            }

            p {
                font-size: 14px;
                color: #d00;
                margin: 10px 0px 5px 0px;
            }

            #file {
                display: none;
            }

            .birthday {
                select {
                    padding: 7px 10px;
                    border: 1px solid #ccc;
                    cursor: pointer;
                }
            }

            .sex {
                margin-bottom: 10px;
                label {
                    margin-right: 10px;
                    font-size: 14px;
                    cursor: pointer;

                    input {
                        margin-right: 5px;
                        cursor: pointer;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 15px;
                            height: 15px;
                            background: rgb(13, 143, 250);
                        }

                        &::after {
                            display: none;
                            content: '✔';
                            position: absolute;
                            top: -2px;
                            left: 2px;
                            width: 15px;
                            height: 15px;
                            color: #fff;
                        }

                        &:checked {
                            &::after{
                                display: block;
                            }
                        }
                    }
                }
            }

            [data-add-image] {
                background: rgb(13, 143, 250);
                border-style: solid;
                border-color: rgb(13, 143, 250);
                cursor: pointer;
                color: $white;
                padding: 10px;
                display: block;
                width: 100%;
            }
            input[type=submit] {
                background: $btnGreen;
                border-color: $btnGreen;
                cursor: pointer;
                color: $white;
                margin-top: 15px;
            }

            @media screen and (max-width: 380px) {
                .sex {
                    label {
                        margin-right: unset;
                        margin-bottom: 10px;
                        display: block;
                    }
                }
                .birthday {
                    select {
                        display: block;
                        width: 100%;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        [data-reg] {
            display: none;
        }
    }
}

// modal style end
