*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style-position: inside;
}

$darkBG : #303F9F;
$lightBG : #3F51B5;
$gray: #757575;
$lightBlue: #448AFF;
$primary: #C5CAE9;
$divider : #BDBDBD;
$white : #fff;
$black : #333;
$d5 : #5d5d5d;


@font-face {
    font-family: noto-sans-bold;
    src: url('../fonts/NotoSansArmenian-Bold.ttf');
}

@font-face {
    font-family: noto-sans-regular;
    src: url('../fonts/NotoSansArmenian-Regular.ttf');
}

@font-face {
    font-family: noto-sans-medium;
    src: url('../fonts/NotoSansArmenian-Medium.ttf');
}

@font-face {
    font-family: noto-sans-light;
    src: url('../fonts/NotoSansArmenian-Light.ttf');
}

@font-face {
    font-family: noto-sans-thin;
    src: url('../fonts/NotoSansArmenian-Thin.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// global styles start

p {
    line-height: 25px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

.title {
    font-size: 28px;
    color: $lightBlue;
    position: relative;
    padding-left: 12px;
    margin-bottom: 24px;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        width: 6px;
        background: $lightBlue;
    }

    @media screen and (max-width: 768px ) {
        font-size: 24px;
    }

    @media screen and (max-width: 580px ) {
        font-size: 20px;
    }
    @media screen and (max-width: 520px ) {
        font-size: 18px;
    }
    @media screen and (max-width: 480px ) {
        font-size: 17px;
    }
    @media screen and (max-width: 420px ) {
        font-size: 16px;
    }
    
}

.sub_title {
    color: $d5;
    padding-bottom: 10px;
    border-bottom: 2px solid $d5;
    margin: 24px 0px 12px 0px;
}

.ms_style {
    margin: 20px 0px 50px 0px;
}

// global styles end

body {
    color: $black;
    font-family: noto-sans-regular, 'Roboto', sans-serif;
}

// nav style start
nav {
    background: $darkBG;
    position: fixed;
    z-index: 99998;
    width: 100%;
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        .logo {
            a {
                color: $white;
                text-decoration: none;
            }
        }

        #mobile_menu_btn {
            display: none;
            cursor: pointer;
            svg {
                width: 30px;
                fill: $white
            }
        }

        #nav_menu {
            li {
                display: inline-block;
                list-style-type: none;
                a{
                    display: flex;
                    min-height: 80px;
                    align-items: center;
                    color: $white;
                    text-decoration: none;
                    padding: 0px 15px;
                    &:hover {
                        background: $lightBG;
                    }

                    @media screen and (max-width: 1024px) {
                        padding: 0px 8px;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            position: relative;
            min-height: 80px;

            .logo {
                order: 2;
            }

            #mobile_menu_btn {
                display: block;
                order: 1;
            }

            #nav_menu {
                position: absolute;
                top: 80px;
                left: 0;
                width: 100%;
                max-width: 320px;
                background: $lightBG;
                transform: translateX(-500px);
                transition: all 0.5s;

                &.menu_active {
                    transform: translateX(0px);
                    transition: all 0.5s;
                }

                li {
                    display: block;

                    a {
                        min-height: 50px;

                        &:hover {
                            background: rgba(255, 255, 255, .1)
                        }
                    }
                }
            }
        }
    }
}
// nav style end

// header style start
header {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    background-attachment: fixed;
    height: 500px;
    padding-top: 80px;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(28, 16, 99, 0.5);
        z-index: 1;
    }

    .header {
        position: relative;
        z-index: 1;
        form {
            display: flex;
            flex-wrap: wrap;;
            justify-content: space-between;
            align-items: flex-start;
            align-content: center;
            height: 400px;
            
            input, .member_count, select {
                padding: 10px;
                background: $white;
                border: none;
                flex-basis: 24%;
                font-size: 16px;
                font-family: noto-sans-medium;
                margin-bottom: 15px;
                color: $d5;
                min-height: 50px;
                cursor: pointer;

                &::placeholder {
                    color: $d5;
                }

                &[type="submit"] {
                    flex-basis: 100%;
                    background: orange;
                    border-color: orange;
                    color: $white;
                    cursor: pointer;
                }

                @media screen and (max-width: 940px) {
                    flex-basis: 49%;
                }

                @media screen and (max-width: 580px) {
                    flex-basis: 100%;
                }
            }
        }
    }
}
// header style end

// masin style start
main {
    .main {
        // general page
        .services {
            .services_items {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .service_item {
                    position: relative;
                    flex-basis: 24%;
                    margin-bottom: 15px; 

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    .service_items_text {
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        background: #303f9fc4;
                        color: $white;
                        opacity: 0;
                        transition:.5s ;
                        text-align: center;
    
                        h3 {
                            font-size: 20px;
                            margin: 8px;
                        }
    
                        p{
                            font-size: 16px;
                            margin-bottom: 14px;
                        }
    
                        a {
                            display: block;
                            background: $white;
                            padding: 8px 15px;
                            width: fit-content;
                            color: $darkBG;
                            text-decoration: none;
                            font-size: 14px;
                        }

                        @media screen and (max-width: 1280px) {
                            h3 {
                                font-size: 18px;
                            }
    
                            p{
                                font-size: 15px;
                            }
    
                            a{
                                padding: 5px 12px;
                            }
                        }

                        @media screen and (max-width: 1140px) {
                            h3 {
                                font-size: 17px;
                            }
    
                            p{
                                font-size: 14px;
                                margin-bottom: 8px;
                            }
    
                            a{
                                padding: 5px 12px;
                            }
                        }
    
                        @media screen and (max-width: 520px) {
                            h3 {
                                font-size: 18px;
                            }
    
                            p{
                                font-size: 15px;
                            }
    
                            a{
                                padding: 5px 12px;
                            }
                        }
    
                        @media screen and (max-width: 420px) {
                            h3 {
                                font-size: 16px;
                            }
    
                            p{
                                font-size: 13px;
                            }
    
                            a{
                                padding: 4px 8px;
                            }
                        }
                    }

                    &:hover {
                        .service_items_text {
                            opacity: 1;
                        }
                    }

                    @media screen and (max-width: 1024px) {
                        flex-basis: calc(100% / 2 - 8px);
                        margin-bottom: 16px;
                    }
                    
                    @media screen and (max-width: 580px) {
                        flex-basis: 100%;
                    }
                }
            }

            a{
                color: $lightBlue;
                display: block;
                text-align: right;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        .offers {
            .offer_items {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                
                .offer_item{
                    flex-basis: 32.5%;
                    background: $lightBG;
                    color: $white;
                    padding: 20px;
                    border-radius: 40px 0px;
                    position: relative;

                    h3 {
                        margin-bottom: 10px;
                    }

                    button {
                        margin-top: 20px;
                        padding: 10px 20px;
                        cursor: pointer;
                        background: transparent;
                        border: 2px solid $white;
                        color: $white;
                        transition: all .5s;

                        &:hover {
                            background: rgba(255, 255, 255, .5);
                        }
                    }

                    @media screen and (max-width: 768px) {
                        flex-basis: 100%;
                        margin-bottom: 20px;  
                    }
                }
            }
        }
        .reviews {
            .owl-carousel {
                .reviews_item {
                    margin-top: 15px;
                    color: $d5;

                    .user_img {
                        text-align: center;
                        border-radius: 50%;
                        width: 150px;
                        height: 150px;
                        overflow: hidden;
                        margin: 0 auto;

                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        svg {
                            width: 100%;
                            height: 100%;
                            fill: $lightBlue;
                        }
                    }

                    h3 {
                        margin: 10px 0;
                        text-align: center;
                    }

                    p {
                        font-size: 14px;

                        a {
                            font-size: 14px;
                            color: $lightBlue;
                        }

                        @media screen and (max-width: 768px) {
                            text-align: center;
                        }
                    }
                }
                .owl-dots {
                    display: flex;
                    justify-content: center;

                    .owl-dot {
                        width: 9px;
                        height: 9px;
                        border: 1px solid $darkBG;
                        border-radius: 50%;
                        margin: 20px 5px;
                    }

                    .owl-dot.active {
                        border: 1px solid $lightBG;
                        background: $lightBG;
                    }
                }

                .owl-nav {
                    position: relative;

                    button {
                        font-size: 45px;
                        color: $lightBG;
                        position: absolute;
                        top: -180px;

                        &.owl-prev {
                            left: 0;
                        }

                        &.owl-next {
                            right: 0;
                        }
                    }
                }
            }
        }
        .contact{
            .contact_items {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;

                .contact_item-info {
                    flex-basis: 28%;

                    .contact-info {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        font-family: noto-sans-medium, 'Roboto';
                        color: $d5;
                        a {
                            color: $d5;
                        }

                        svg {
                            width: 30px;
                            height: 30px;
                            fill: $lightBlue;
                            margin-right: 15px;
                        }
                    }
                }

                .contact_item-map {
                    flex-basis: 70%;

                    iframe {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 1024px) {
                    .contact_item-info, .contact_item-map {
                        flex-basis: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }

        // child pages
        .services_more {
            .service_more_item {
                img {
                    display: block;
                    max-width: 400px;
                    float: left;
                    margin-right: 15px;
                }

                @media screen and (max-width: 580px) {
                    img {
                        float: none;
                        max-width: 100%;
                        margin-right: 0;
                        margin-bottom: 15px;
                    }
                }
            }

            .service_more_photos {
                display: flex;
                flex-flow: row wrap;
                justify-content:flex-start;
                margin-right: 0px;
                margin-left: -10px;
                // display: grid;
                // grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
                // grid-gap: 10px;

                .service_more_photos_wrap {
                    margin-right: 0;
                    margin-left: 10px;
                    flex-basis: calc(100% / 4 - 10px);
                    max-height: 202px;
                    overflow: hidden;
                    margin-bottom: 10px;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    @media screen and (max-width: 1024px) {
                        flex-basis: calc(100% / 3 - 10px);
                    }
                    @media screen and (max-width: 768px) {
                        flex-basis: calc(100% / 2 - 10px);
                        max-height: 300px;
                    }
                    @media screen and (max-width: 580px) {
                        flex-basis: calc(100% / 1);
                        max-height: unset;
                    }
                }
            }
        }
    }
}
// masin style end

//  Modal style start

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;

    form, .member_count_options {
        background: $white;
        padding: 20px;
        margin: 0px 20px;
        flex-basis: 500px;
        position: relative;
    }

    form {
        [data-offer-close] {
            position: absolute;
            top: 11px;
            right: 0;
            width: 35px;
            height: 35px;
            cursor: pointer;

            svg {
                width: 25px;
                height: 25px;
                fill: rgb(233, 1, 1)
            }
        }

        h3 {
            margin-top: 0px;
        }

        [data-offerPrice] {
            font-size: 14px;
            margin-bottom: 8px;

            span {
                color:  rgb(233, 1, 1);
            }
        }

        input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;

            &::placeholder {
                color: $d5;
            }

            &[type="submit"] {
                background: $lightBG;
                color: $white;
                border-color: $lightBG;
                cursor: pointer;
            }
        }
    }

    .member_count_options {
        [data-count-close] {
            position: absolute;
            top: 11px;
            right: 0;
            width: 35px;
            height: 35px;
            cursor: pointer;

            svg {
                width: 25px;
                height: 25px;
                fill: rgb(233, 1, 1)
            }
        }

        h3 {
            margin-top: 0px;
        }

        .mco_wrap {
            .mco_item {
                margin: 8px 0px;
                display: flex;
                justify-content: space-between;

                .mco_counter {
                    button {
                        padding: 5px 10px;
                        background: $primary;
                        color: $white;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//  Modal style end


// light gallery default styles reset

.lg-backdrop{
    z-index: 99999 !important;
}

.lg-outer{
    z-index: 99999 !important;
}