*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700;900&family=Roboto:wght@300;400;700;900&display=swap');

$roboto : 'Roboto', sans-serif;
$PlayFair : 'Playfair Display', serif;
$HammerSmith : 'Hammersmith One', sans-serif;

$cyan : #00e0d0;
$default: #413d4b;
$light: #fafafa;

.container {
    max-width: 1280px;
    padding: 10px;
    margin: 0 auto;
    font-family: $roboto;
}

p {
    line-height: 25px;
    letter-spacing: 1px;
}

header {
    min-height: 670px;

    @media screen and (max-width: 768px) {
        min-height: unset;
        padding-bottom: 40px;
    }

    .header {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                img {
                    width: 100%;
                }
            }

            .mobile_menu {
                display: none;
                width: 30px;
                height: 30px;
                cursor: pointer;

                svg {
                    width: 100%;
                    height: 100%;
                    fill: #fff;
                }
            }

            #menu {
                display: flex;
                justify-content: space-between;
                flex-basis: 600px;

                li {
                    list-style-type: none;
                    
                    a{
                        color: #fff;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: 900;

                        &.active_menu {
                            color: $cyan;
                        }

                        &:hover {
                            color: $cyan;
                        }
                    }
                }
            }

            @media screen and (max-width: 768px) {
                .mobile_menu {
                    display: block;
                }
                #menu {
                    display: none;
                }
            }
        }
    }

    .about_slider {
        .owl-carousel {
            max-width: 800px;
            margin: 0 auto;
            .about_slide {
                margin: 180px 0px 70px 0px;
                color: #fff;
                text-align: center;

                h2 {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;
                    font-family: $PlayFair;
                    font-weight: 900;
                    font-size: 30px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -10px;
                        width: 80px;
                        height: 1px;
                        background: $cyan;
                    }
                }

                p {
                    font-weight: 100;
                    margin-bottom: 30px;
                }

                button {
                    background: transparent;
                    padding: 10px 30px;
                    cursor: pointer;
                    color: $cyan;
                    border: 1px solid $cyan;
                    text-transform: uppercase;
                    border-radius: 3px;
                    transition: .5s;

                    &:hover {
                        color: #fff;
                        border-color: #fff;
                    }
                }

                @media screen and (max-width: 768px) {
                    margin: 80px 0px 50px 0px;
                    h2 {
                        font-size: 24px;
                    }
                    p {
                        font-size: 15px;
                    }
                }
            }
            .owl-dots {
                display: flex;
                justify-content: center;

                .owl-dot {
                    width: 13px;
                    height: 13px;
                    margin-right: 10px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    
                    &.active {
                        background: $cyan;
                        border-color: $cyan;
                    }
                }
            }
        }
    }
}
