*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

$hammer : 'Hammersmith One', sans-serif;
$playfair : 'Playfair Display', serif;
$roboto : 'Roboto', sans-serif;

$cyan : #00e0d0;
$default : #413d4b;
$white : #fff;

body {
    font-size: 16px;
    font-family: $roboto;
    color: $default;
}

p {
    line-height: 25px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10px;
}

header {
    min-height: 670px;
    background-position: center center; 
    background-size: cover;

    .header {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {
                    width: 100%;
                }
            }

            #menu {
                display: flex;
                justify-content: space-between;
                flex-basis: 600px;
                li {
                    list-style-type: none;
                    a {
                        font-weight: bold;
                        text-decoration: none;
                        color: $white;
                        text-transform: uppercase;

                        &.menu_active {
                            color: $cyan;
                        }

                        &:hover {
                            color: $cyan;
                        }
                    }
                }
            }

            .mobile-menu-btn {
                display: none;
                cursor: pointer;
                svg {
                    width: 30px;
                    height: 30px;
                    fill: $white;
                }
            }

            @media screen and (max-width: 810px) {
                #menu {
                    flex-basis: 550px;
                    font-size: 15px;
                }
            }

            @media screen and (max-width: 768px) {
                .mobile-menu-btn {
                    display: block;
                }
                #menu {
                    display: none;
                }
            }
        }

        .about_slider {
            max-width: 1100px;
            margin: 190px auto auto auto;
            .owl-carousel {

                .about-item {
                    color: $white;
                    text-align: center;
                    h3 {
                        font-family: $playfair;
                        font-size: 32px;
                        margin-bottom: 60px;
                    }

                    p {
                        font-weight: 300;
                        margin-bottom: 60px;
                    }

                    button {
                        border: 2px solid $cyan;
                        background: none;
                        border-radius: 3px;
                        color: $cyan;
                        font-size: 16px;
                        padding: 10px 25px;
                        cursor: pointer;
                        text-transform: uppercase;
                        transition: .5s;

                        &:hover {
                            border-color: $white;
                            color: $white;
                        }
                    }
                }

                .owl-dots {
                    display: flex;
                    justify-content: center;
                    margin: 120px auto;

                    .owl-dot {
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background: transparent;
                        border: 1px solid $white;
                        font-size: 20px;
                        margin-right: 15px;


                        &.active {
                            background: $cyan;
                            border-color: $cyan;
                        }
                    }
                }
            }
        }
    }
}